# Feature Engineering: Feature Creation

### Read in text

In [10]:
import pandas as pd

data = pd.read_csv("SMSSpamCollection.tsv", sep='\t')
data.columns = ['label', 'body_text']

### Create feature for text message length

In [11]:
data['body_len'] = data['body_text'].apply(lambda x: len(x) - x.count(" "))

data.head()

  label                                          body_text  body_len
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...       128
1   ham  Nah I don't think he goes to usf, he lives aro...        49
2   ham  Even my brother is not like to speak with me. ...        62
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!        28
4   ham  As per your request 'Melle Melle (Oru Minnamin...       135

### Create feature for % of text that is punctuation

In [12]:
import string 
def count_punct(text):
    count = sum([1 for char in text if char in string.punctuation])
    return round(count/(len(text) - text.count(" ")), 3)*100

data["punct%"] = data["body_text"].apply(lambda x: count_punct(x))
data.head()

  label                                          body_text  body_len  punct%
0  spam  Free entry in 2 a wkly comp to win FA Cup fina...       128     4.7
1   ham  Nah I don't think he goes to usf, he lives aro...        49     4.1
2   ham  Even my brother is not like to speak with me. ...        62     3.2
3   ham                I HAVE A DATE ON SUNDAY WITH WILL!!        28     7.1
4   ham  As per your request 'Melle Melle (Oru Minnamin...       135     4.4

### Evaluate created features

In [14]:
%pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.5.2-cp38-cp38-macosx_10_9_x86_64.whl (7.3 MB)
     |████████████████████████████████| 7.3 MB 4.9 MB/s eta 0:00:01
Requirement already satisfied: packaging>=20.0 in /Users/nirbhayworlikar/opt/anaconda3/envs/Practice/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.17 in /Users/nirbhayworlikar/opt/anaconda3/envs/Practice/lib/python3.8/site-packages (from matplotlib) (1.21.5)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.3-cp38-cp38-macosx_10_9_x86_64.whl (65 kB)
     |████████████████████████████████| 65 kB 3.5 MB/s eta 0:00:011
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting pillow>=6.2.0
  Downloading Pillow-9.1.1-cp38-cp38-macosx_10_10_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 3.8 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /Users/nirbhayworlikar/opt/anaconda3/envs/Practice/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.33.3-py3-none-any.whl (930 kB)
     |████████████████████████████████| 930 kB 4.9 MB/s eta 0:00:01
Requirement already satisfied: pyparsing>=2.2.1 in /Users/nirbhayworlikar/opt/anaconda3/envs/Practice/lib/python3.8/site-packages (from matplotlib) (3.0.4)
Requirement already satisfied: six>=1.5 in /Users/nirbhayworlikar/opt/anaconda3/envs/Practice/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, matplotlib
Successfully installed cycler-0.11.0 fonttools-4.33.3 kiwisolver-1.4.3 matplotlib-3.5.2 pillow-9.1.1
Note: you may need to restart the kernel to use updated packages.

In [15]:
from matplotlib import pyplot
import numpy as np
%matplotlib inline